<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MVC - Model Views and controllers</title>
</head>
<body>
    <h1>MVC - Model Views and controllers</h1>
    <form action="/form-submit" method="POST">
        Name: <input type="text" name="name" id="name">
        <br>
        <br>
        Email: <input type="email" name="email" id="email">
        <br>
        <br>    
        Password: <input type="password" name="password" id="password">
        <br>
        <br>    
        Age: <input type="number" name="age" id="age">
        <br>
        <br>    
        P.no: <input type="tel" name="pno" id="pno">
        <br>
        <br>    
        <input type="submit" value="Submit">
    </form>
</body>
</html>