<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Form Handling</title>
  </head>
  <body>
    <h1>Form Handling</h1>

    <form action="/form-submit" method="POST">
      Name: <input type="text" name="name" id="name"  placeholder="Enter your Name"/><br />
      <br />
      Email: <input type="email" name="email" id="email" placeholder="Enter your Email" /><br />
      <br />
      Password: <input type="password" name="password" id="password" placeholder="Enter your Password" /><br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
